.footer {
  background-color: #00483b;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  color: white;
  .leftInfo {
    .navigation {
      margin-top: 20px;
      display: flex;
      gap: 40px;
      cursor: pointer;
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 20px;
        li {
          text-transform: uppercase;
          position: relative;
          width: fit-content;
          transition: all 0.3s;
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: beige;
            transition: all 0.3s;
          }
          &:hover {
            opacity: 0.8;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .rightInfo {
    margin-top: 10px;
    h6 {
      margin-bottom: 15px;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        align-items: center;
        gap: 15px;
        .copySVG {
          width: 20px;
          height: 20px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .imgs {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          scale: 1.1;
        }
      }

      img:first-child {
        width: 35px;
      }
      img:nth-child(2) {
        width: 50px;
      }
      img:nth-child(3) {
        width: 50px;
      }
      img:nth-child(4) {
        width: 50px;
      }
      img:nth-child(5) {
        width: 60px;
      }
    }
  }
}
.intention {
  background-color: #00483b;
  color: white;
  padding: 10px 40px;
  font-size: 11px;
  border-top: 1px solid white;
}
@media (width < 850px) {
  .footer {
    flex-direction: column;
    .rightInfo h6 {
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .navigation {
    margin-bottom: 20px;
  }
}
